body{
    margin: 0px;
    font-family: "Helvetica";
}
head1{
    font-size: 1.7rem;
}
.container{
    width: 700px;
    text-align: center;
    margin: 0px auto;
}
#imgCrop{
    max-width: 100%;
}

.ism-slider{
    margin: 0px auto;
}
.downloadLinkButtons{
    text-align: center;
}

.cropper-crop{
    display: none;
}

.cropper-crop:before{
    filter: blur(5px);
}

.cropper-dashed.dashed-h {
    border-bottom-width: 0px;
    border-top-width: 0px;
    height: 0px;
    left: 0;
    top: 0;
    width: 0px;
}

.caption{
    float: right;
    display: inline-block;
}
@media screen and (max-width: 700px){
    .container{
        width: 100%;
    }
    .caption{
        float: none;
        display: block;
    }
    header{
        text-align: center;
    }
}