header div{
    text-align: center;
}

.container{
    width: 500px;
    margin: 0px auto;
}

input[type=text]{
    width: 100%;
    border: 2px solid #aaa;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}

input[type=text]:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

textarea{
    border: 2px solid #aaa;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}
textarea:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.liMain li div {
    display: none;
}

.liMain li:focus-within  div {
    display: block;
}

textarea{
    width: 100%;
}

@media screen and (max-width: 516px){
    .container{
        width: 100%;
    }
}